@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "JetbrainsMono";
	src: url("../fonts/JetBrainsMono-Regular.ttf");
}

::-webkit-scrollbar {
	width: 10px;
	border: none;
	border-radius: 1em;
}

::-webkit-scrollbar-track {
	background: gray;
}

::-webkit-scrollbar-thumb {
	background: black;
}

::-webkit-scrollbar-thumb:hover {
	background: gray;
}
